body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    padding: 1em;
  }
  
  h1 {
    font-size: 3em;
    margin: 0.25em 0;
  }
  
  
  h2 {
    font-size: 32px;
    color: rgb(49, 122, 141);
  }
  
  h3 {
    font-size: 2em;
    margin: 0.25em 0;
  }
  
  p {
    font-size: 1em;
  }
  
  .url_img img {
    /* Apply styles directly to the images inside .url_img */
    max-width: 50px;
    max-height: 50px;
    border:1px solid #7d7a7a ;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Adjust the duration and easing function */
  
    
    /* Add any other styles as needed */
  }
  
  hr {
    border: none;
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: #7d7a7a;
  }

  table {
        width: 100%;
        border-collapse: collapse;
    }

  th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

  th {
        background-color: #f2f2f2;
    }